define host {
    host_name               {{ inventory_hostname }}
    address                 {{ ansible_host }}
    check_command           check-ping
    active_checks_enabled   1
    passive_checks_enabled  1
}